@model IEnumerable<DevStormMvc.Models.CommentModel>

<div class="container" >
    
    <div class="gap gap-small"></div>
    <div class="row row-col-gap">
        <div class="text-center">
            <h4>All comments</h4>
        </div>
            <div class="col-lg-11">
                <div class="gap gap-small"></div>
            
            <div class="box">
                <table class="table">

                    <thead>
                        
                        <tr> 
                            <th>Comment date</th>
                            <th>Text</th>
                            <th></th>
                        </tr>
                    </thead>
                   @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.date)</td>
                            <td>@Html.DisplayFor(modelItem => item.text)</td>
                        </tr>
                   }
                </table>
            </div>
        </div>
    </div>
</div>
