@model IEnumerable<DevStormMvc.Models.RateModel>
<div class="container">

    <div class="gap gap-small"></div>
    <div class="row row-col-gap">
        <div class="text-center">
            <h4>All rates</h4>
        </div>
        <div class="col-lg-11">
            <div class="gap gap-small"></div>

            <div class="box">
                <table class="table">

                    <thead>

                        <tr>
                            <th>Mark</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.mark)</td>
                            <td>@Html.DisplayFor(modelItem => item.user.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.user.LastName)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

